<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title></title>
</head>
<body>
    <h1>Phone Bill Widget</h1>
    <form action="/" method="get">
    <h2>Calculate total phone bill for user</h2>
    <div class="totalBill">
        <h2>Username:</h2>

                <input type="text" name="text" class="nameEntered" value="" placeholder="Please Enter Name Here">

                <h2>Usage String:</h2>

                <input type="text" name="text" class="nameEntered" value="" placeholder="Please Enter Name Here">
    </div>
    </form>
</body>
</html>