<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title></title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Price Plans</h1>
            <table>
              <tr>
                <td>SMS 100<span class="sms100"></span> </td>
                <td>
                  <a href="/price_plans/sms">Link Users</a>
                </td>
                
              </tr>
              <tr>
                <td>CALL 100<span class="call100"></span> </td>
                <td>
                  <a href="/price_plans/call">Link Users</a>
                </td>
                
              </tr>
              <tr>
                <td>ALL-IN-1<span class="allinone"></span> </td>
                <td>
                  <a href="/price_plans/all">Link Users</a>
                </td>
                
              </tr>
            </table>
        </div>
    </div>
</body>
</html>