body{
    background-color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black   ;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 2em;
    color: palevioletred;
    /* text-align: center; */
}

/* h2{
    margin-top: 2em;
    color: palevioletred;
    text-align: center;
}

h3{
    margin-top: 2em;
    color: palevioletred;
    text-align: center;
} */

a {
    padding: 0.4em;
    width: 2em;
    text-decoration: none;
    color: palevioletred;
}

a:hover {
    background-color : rgb(155, 48, 83)
}
